@import "tailwindcss";
body {
  background-color: #242424;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.table-base tr {
  @apply border-2;
}

.table-base td,
th {
  @apply border-2 p-2 border-zinc-900 text-gray-600;
}

.table-base th {
  @apply text-2xl font-semibold bg-zinc-600 text-white;
}

.table-base td {
  @apply text-xl text-center bg-zinc-200;
}

/* .diseñoL{
    position: absolute;
    content: '';
    background-color: aqua;
  } */

/* .diseñoL::before{
    position: absolute;
    top: -4%;
    right: 0;
    content: '';
    width: 100%;
    height: 0;
    z-index: -1;
    background-color: rgb(0, 0, 0, .2);
    border-bottom: 2px solid white;
    border-radius: 0 0 0 0;
    transition: .4s ease-in-out;
  }

  .diseñoL:hover::before {
    background-color: transparent;
    height: 155px;
    } */

@keyframes rebote {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(60%) rotate(360deg);
  }

  75% {
    transform: translateY(2%) rotate(20deg);
  }
}
