@import "tailwindcss";
body {
  /* background-color: #242424; */
  width: 100%;
  height: 100%;
  background-color: #111111;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 60px 60px;
  background-position: -5px -5px;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.table-base th {
  @apply text-lg font-bold p-2 bg-green-600 backdrop-blur-xl text-white;
}

.table-base td {
  @apply text-lg text-center font-light text-white p-4 backdrop-blur-xl bg-white/10;
}

@keyframes rebote {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(60%) rotate(360deg);
  }

  75% {
    transform: translateY(2%) rotate(20deg);
  }
}
